.App {
  text-align: center;
}

body {
  background-color: #FAD9D3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.input-col {
  padding-right: 0;
  padding-left: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message-input {
  position: fixed;
  bottom: 20px;
  max-width: 800px; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #FAD9D3;
}
  

.input-row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-container {
  padding-bottom: 100px;
  height: calc(75vh);
  overflow-y: auto;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #888888;
}

.message-text {
  text-align: left;
  font-size: 14px;
}

.images-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.alek-image {
  width: 100px;
  height: auto;
}

.sergei-image {
  width: 150px;
  height: auto;
}